body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100vw;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#App {
  grid-column: 3 / span 10;
  grid-row: 3 / span 11;
}

.chart {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}